//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/rounded-common.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/catppuccin-launcher.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/main_without_icons.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/squared-nord.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/catppuccin-launcher.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/catppuccin-launcher.rasi"
//@theme "/usr/share/rofi/themes/lb.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/windows11-grid-light.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/catppuccin-launcher.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/launchpad.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/config.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/applications.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/dock.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/applications.rasi"
//@theme "/home/iamwash/.local/share/rofi/themes/config.rasi"
@theme "/home/iamwash/.local/share/rofi/themes/config.rasi"
